#pills-contact {
    background-color: black;
    height: 100vh;

    .pills-contact {
        padding-top: 100px;
        display: flex;
        justify-content: center;

        .contact-content {
            width: 1400px;

            h2 {
                color: #fff;
            }

            .contact-form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                form {
                    background-color: #b3b3b3;
                    padding: 50px;
                    width: 650px;
                    text-align: center;

                    input {
                        margin-bottom: 20px;
                        width: 100%;
                        padding: 10px;
                        background-color: #b3b3b3;
                        border: none;
                        border-bottom: 1px solid #000;
                        color: #333;
                    }

                    button {
                        padding: 10px;
                        background-color: #b3b3b3;
                        border: none;
                        border-bottom: 1px solid #000;
                        color: #000;
                        cursor: pointer;
                        text-align: right;
                    }
                }
            }
        }
    }
}